* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: black;

  /* ** global css variables ** */
  --color-time: 25s;
  --time-color: rgb(0, 128, 0);
}

@font-face {
  font-family: tradeWinds;
  src: url(./Fonts/TradeWinds-Regular.ttf);
}

/* objects tied to fade-in
  - .background0-9


*/
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/* 0.6 is kinda cool */
@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}



.landingPage,
.buildingPage {
  /* border: 2px solid gold; */
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.buildingPage {
  background-image: url(http://res.cloudinary.com/dzh1qe1zp/image/upload/v1704915035/pxbna7z8fmfcjioi1shs.jpg);
}





/* opening effect to the slideshow elements */
@keyframes slide-in {
  from {
    opacity: 0;
    transform: scale(0.3);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
/* rotate colors on LandingPage */
@keyframes colors {
  100% {
    filter: hue-rotate(360deg);
    backdrop-filter: (hue-rotate(360deg));
  }
}














/* *** Begin Morocco CSS */
@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

@keyframes pictureFade {
  to {
    scale: 1;
    opacity: 1;
  }
}

.parallaxWrapper {
  border: 2px solid blue;

}

.moroccoPage {
  background-color: grey;
}

.scrollWatcher {
  height: 10px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: lime;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}

.moroccoFlag {
  /* width: 100%;
  height: auto; */
  width: 100%;
  height: 400px;
  background-image: url(./Photos/moroccoFlag.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.moroccoPic {
  width: 500px;
  height: auto;
  margin-bottom: 400px;

  scale: 0.8;
  opacity: 0;


  animation: pictureFade linear forwards;
  animation-timeline: view();
  /* start and end from top and button */
  /* animation-range: contain 100px; */
  animation-range-start: contain;
  /* px or when photo is contained */
  animation-range-end: 700px;
}